In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import zscore 


df = pd.read_csv('../data/togo-dapaong_qc.csv')

## Summary Statistics & Missing-Value Report

In [3]:
numeric_cols = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust', 'Tamb', 'RH', 'WSstdev', 'WD' ,'WDstdev', 'BP', 'Cleaning','Precipitation', 'TModA'  ]
print(df[numeric_cols].describe())

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      230.555040     151.258469     116.444352     226.144375
std       322.532347     250.956962     156.520714     317.346938
min       -12.700000       0.000000       0.000000       0.000000
25%        -2.200000       0.000000       0.000000       0.000000
50%         2.100000       0.000000       2.500000       4.400000
75%       442.400000     246.400000     215.700000     422.525000
max      1424.000000    1004.500000     805.700000    1380.000000

                ModB             WS         WSgust           Tamb  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      219.568588       2.368093       3.229490      27.751788
std       307.932510       1.462668       1.882565       4.758023
min         0.000000       0.000000       0.000000      14.900000
25%         0.000000       1.400000       1.900000      24.200000
50%         4.300000       2.200000       2.900000      27.200000
75%       411.000000       3.200000       4.400000      31.100000
max      1367.000000      16.100000      23.100000      41.400000

                  RH        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean       55.013160       0.557740     161.741845      10.559568
std        28.778732       0.268923      91.877217       5.915490
min         3.300000       0.000000       0.000000       0.000000
25%        26.500000       0.400000      74.800000       6.900000
50%        59.300000       0.500000     199.100000      10.800000
75%        80.800000       0.700000     233.500000      14.100000
max        99.800000       4.700000     360.000000      86.900000

                  BP       Cleaning  Precipitation          TModA
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      975.915242       0.000535       0.001382      32.444403
std         2.153977       0.023116       0.026350      10.998334
min       968.000000       0.000000       0.000000      13.100000
25%       975.000000       0.000000       0.000000      23.900000
50%       976.000000       0.000000       0.000000      28.400000
75%       977.000000       0.000000       0.000000      40.600000
max       983.000000       1.000000       2.300000      70.400000

In [4]:
missing_report = df.isna().sum() / len(df) * 100  # Percentage of missing values
missing_above_5 = missing_report[missing_report > 5]  # Filter > 5%

print("Columns with >5% missing values (%):")
print(missing_above_5)

Columns with >5% missing values (%):
Comments    100.0
dtype: float64

## Outlier Detection & Basic Cleaning

### Outliner detection

In [5]:
cols_to_check = ['GHI', 'DNI', 'DHI']

z_scores = df[cols_to_check].apply(zscore, nan_policy='omit')
outliers_mask = np.abs(z_scores) > 3
print("=== Outliers per Column (|Z-score| > 3) ===")
for col in cols_to_check:
    col_outliers = df.loc[outliers_mask[col], col]
    
    if not col_outliers.empty:
        print(f"\nColumn: {col}")
        print("-----------------")
        print(col_outliers)
    else:
        print(f"\nColumn: {col} - No outliers detected.")

=== Outliers per Column (|Z-score| > 3) ===

Column: GHI
-----------------
248417    1223.0
248418    1267.0
248419    1243.0
248423    1234.0
248425    1263.0
           ...
510410    1221.0
510412    1285.0
510413    1202.0
510414    1267.0
510416    1214.0
Name: GHI, Length: 305, dtype: float64

Column: DNI
-----------------
7860      989.8
39532     905.5
39542     906.1
39543     907.7
39544     907.4
          ...
144887    910.3
144888    907.8
144892    906.1
144893    906.8
510402    913.7
Name: DNI, Length: 1062, dtype: float64

Column: DHI
-----------------
101472    609.5
102872    608.3
102892    618.1
102893    646.1
102894    636.9
          ...
510473    629.8
510474    621.7
510475    614.9
510476    605.6
510477    591.0
Name: DHI, Length: 3415, dtype: float64

### Missing values

In [6]:
missing_report = df[cols_to_check].isna().sum()
print("Missing values:\n", missing_report[missing_report > 0])

Missing values:
 Series([], dtype: int64)

### Incorrect entries

In [7]:
for col in ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'RH', 'WS', 'WSgust', 'WSstdev', 'BP', 'Cleaning', 'Precipitation']:
    negatives = (df[col] < 0).sum()
    if negatives > 0:
        print(f"Warning: {negatives} negative values found in '{col}'")

Warning: 257385 negative values found in 'GHI'

## Cleaning

In [8]:

## invalid negative values
invalid_negative_cols = [
    'GHI', 'DNI', 'DHI'
]
# Replace negatives with NaN
df[invalid_negative_cols] = df[invalid_negative_cols].applymap(lambda x: x if x >= 0 else None)

/tmp/ipykernel_948958/3401128404.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[invalid_negative_cols] = df[invalid_negative_cols].applymap(lambda x: x if x >= 0 else None)

In [9]:
## fix outliers
df[cols_to_check] = df[cols_to_check].mask(outliers_mask, np.nan)

In [10]:
## Dropping the Empty Comments Column

df.drop(columns=['Comments'], inplace=True)

## Export the Cleaned DataFrame

In [11]:
output_path = "../data/sierraleone-bumbuna_clean.csv"
df.to_csv(output_path)

df_clean = pd.read_csv('../data/benin-malanville_clean.csv')
df_clean.describe()

,Unnamed: 0,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
count,525600.00000,266664.000000,249613.000000,262680.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,262799.50000,476.477999,352.575567,225.162167,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736
std,151727.79508,320.293849,280.657284,143.824953,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000
25%,131399.75000,176.800000,54.100000,116.300000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000
50%,262799.50000,474.000000,345.700000,210.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000
75%,394199.25000,771.600000,602.900000,318.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000
max,525599.00000,1233.000000,952.300000,591.400000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000